{% set title = 'Edit Page' %}
{% extends "layout/master.html.twig" %}

{% block content %}
<h2>{{ title }}</h2>
<div class="formContainer">

<a href="/pages/admin">Back/cancel</a>

{% if mode != 'new' %}
  <form action="/page/edit" method="post">
  <input type="hidden" name="id" value="{{ info.id }}" />
{% else %}
  <form action="/page/new" method="post">
{%endif%}

<input type="hidden" name="formkey" value="{{ formkey }}" />
<input type="submit" value="Save Page" name="submit" />

<label for="title">Title</label>
{% if mode != 'new' %}
  <input type="text"   name="title"   value="{{ info.title}}"  placeholder="Title" required>
{% else %}
  <input type="text"   name="title"   value=""  placeholder="{{ info.title}}" required>
{%endif%}

<label for="slug">slug</label>
{% if mode != 'new' %}
  <input type="text"   name="slug"    value="{{ info.slug}}"   placeholder="slug"  required>
{% else %}
  <input type="text"   name="slug"    value=""   placeholder="{{ info.slug}}"  required>
{%endif%}

<label for="intro">Intro</label>
{% if mode != 'new' %}
  <textarea name="intro" rows="4" cols="50" placeholder="Enter your page content here.">{{ info.intro }}</textarea>
{% else %}
  <textarea name="intro" rows="4" cols="50" placeholder="{{ info.intro }}"></textarea>
{%endif%}

<label for="body">Body</label>
{% if mode != 'new' %}
  <textarea id="nytinymce" name="body" rows="4" cols="50" placeholder="Enter your page content here.">{{ info.body }}</textarea>
{% else %}
  <textarea id="nytinymce" name="body" rows="4" cols="50" placeholder="{{ info.body }}"></textarea>
{%endif%}

<label for="heading">Heading</label>
{% if mode != 'new' %}
  <input type="text"   name="heading"   value="{{ info.heading}}"  placeholder="Heading" required>
{% else %}
  <input type="text"   name="heading"   value=""  placeholder="{{ info.heading }}" required>
{%endif%}


<input type="submit" value="Save Page" name="submit" />

</form>

</div>
{% endblock %}
