{% set title = 'spamwords Page' %}
{% extends "@nytwig/master.html.twig" %}

{% block content %}
  <h2>Spam Phrases</h2>

  <p>These are phrases that are not allowed to be  used in user input anywhere on the website.

  <div class="formContainer">

    {% if spamwordadded is not empty %}
      <div class="notice">{{ spamwordadded }}</div>
    {% endif %}

    <form action="/spamwords/index" method="post">
      <input type="hidden" name="formkey" value="{{ formkey }}" />

      <input type="text" placeholder="SPAM phrase" name="spamword" value="{{ spamword }}" required>
      <input type="submit" value="Add Phrase" name="submit" />
    </form>
  </div>

  <h2>The list</h2>
  <table>
    <tr>
      <th>phrase</th>
      <th>action</th>
    </tr>

    {% for row in spamWords %}
      <tr>
        <td>{{ row.phrase }}</td>
        <td><a href="/spamwords/delete/{{ row.id }}">delete</a></td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}
