{% set title = 'User Administrator' %}
{% extends "layout/master.html.twig" %}

{% block content %}

<h1>{{ title }}</h1>

<table id="users-list">
  <tr>
    <th>id</th>
    <th>username</th>
    <th>email</th>
    <th>blocked</th>
    <th>admin</th>
  </tr>
  {% for user in users %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.blocked }}</td>
      <td>{{ user.admin }}</td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
