{% set title = 'My Profile' %}
{% extends "@nytwig/master.html.twig" %}

{% block content %}

<h2>{{ userdata.username }}'s Profile</h2>

<p>Your email is: {{ userdata.email }} and the account was created on {{ userdata.created }}</p>

<div class="formContainer">
  <form action="/user/saveprofile" method="post">
    <input type="hidden" name="formkey" value="{{ formkey }}" />
    <div class="formGroup">
      <label for="username"><b>Change Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" value="{{ userdata.username }}" >
    </div>
    <div class="formGroup">
      <h2>Password</h2>
      <label for="currentpassword"><b>Current password</b></label>
      <input type="password" placeholder="Current password" name="currentpassword" >
      <label for="newpassword"><b>New password</b></label>
      <input type="password" placeholder="New password" name="newpassword" >
      <label for="confirm"><b>Confirm new password</b></label>
      <input type="password" placeholder="Confirm new password" name="confirm" >
    </div>
    <div class="formGroup">
      <button type="submit">Save</button>
    </div>
  </form>
</div>


{% endblock %}
