{% set title = 'User Administrator' %}
{% extends "@nytwig/master.html.twig" %}

{% block content %}
<div class="formContainer">

      <form action="/user/registration" method="post">
        <input type="hidden" name="formkey" value="{{ formkey }}" />

        <div class="formGroup">
          <label for="email"><b>Your Email</b></label>
          {% if badEmail is not empty %}
            <div class="error">{{ badEmail }}</div>
          {% endif %}
          <input type="text" placeholder="Enter Email" name="email" value="{{ post.email }}" required>
        </div>

        <div class="formGroup">
          <label for="username"><b>Username</b></label>
          {% if badUsername is not empty %}
            <div class="error">{{ badUsername }}</div>
          {% endif %}
          <input type="text" placeholder="Enter A Username" name="username" value="{{ post.username }}" required>
        </div>

        <div class="formGroup">
          <label for="password"><b>Password</b></label>
          {% if badPassword is not empty %}
            <div class="error">{{ badPassword }}</div>
          {% endif %}
          <input type="password" placeholder="Enter Password" name="password" required>

          <label for="password-confirm"><b>Password Confirm</b></label>
          <input type="password" placeholder="Confirm Password" name="password-confirm" required>
        </div>

        <div class="formGroup">
          <button type="submit">Register My Account</button>
        </div>
      </form>
    </div>
{% endblock %}