{% set title = 'User Administrator' %}
{% extends "@nytwig/master.html.twig" %}

{% block content %}

<h1>{{ title }}</h1>

<table id="users-list">
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Block</th>
    <th>Remove</th>
  </tr>
  {% for user in users %}
    <tr>
      <td>
        {{ user.username }}
        {% if user.admin != 0 %}
          ( <span class="usr-grp">{{ user.admin }}</span> )
        {% endif %}
      </td>
      <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
      <td>
        {% if user.blocked == 0 %}
          <a href="/user/block/{{ user.id }}">block user</a>
        {% else %}
          <a href="/user/block/{{ user.id }}">unblock user</a>
        {% endif %}
      </td>
      <td>
        <a href="/user/delete/{{ user.id }}">Delete {{ user.username }}</a>
      </td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
