{% set title = 'Contact Admin' %}
{% extends "layout/master.html.twig" %}

{% block content %}

<h1>{{ title }}</h1>

<table id="contactMessages">

<tr>
  <th>View</th>
  <th>Email</th>
  <th>Created</th>
  <th>Read</th>
  <th>Delete</th>
</tr>

{% for msg in contactMessages %}

  <tr>
    <td><a href="/contact/view/{{ msg.id}}">View Message {{ msg.id }}</a></td>
    <td>{{ msg.email }}</td>
    <td>{{ msg.created}}</td>
    <td>{{ msg.unread}}</td>
    <td><a href="/contact/delete/{{ msg.id }}">Delete this message</a></td>
  </tr>

{% endfor %}
</table>
{% endblock %}
