{% set title = page.title %}
{% set description = page.description %}
{% set keywords = page.keywords %}
{% set author = page.author %}
{% extends "@nytwig/master.html.twig" %}

{% block content %}
<div id="component-page">
  {% if page.heading is not empty %}
    <h1>{{ page.heading |raw }}</h1>
  {% endif %}

  <div class="page-meta">
    {% if page.updated is not empty %}
        <span class="page-updated">Last Updated: {{ page.updated | date("M\\. jS Y \\a\\t g:ia") }}</span>
    {% endif %}

    {% if page.taglinks is not empty %}
        <span class="tags">Tags: {{ page.taglinks | raw }}</span>
    {% endif %}
  </div>

  {% if page.intro is not empty %}
      <p class="intro">{{ page.intro | raw }}</p>
  {% endif %}

  {{ page.body | raw }}

  <div id="comment-area">
    <h2>Comments</h2>
    {% include '@page/comment.html.twig' %}
  </div>

</div>
{% endblock %}
